.share-icon {
    fill: white;
    right: 8px;
    bottom: 8px;
    position: absolute; 
    z-index: 1;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 1));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 1));
}

.pending-icon{
    position: absolute;
    z-index: 1;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);

    .loader__icon {
        width: 100px;
        fill: none;
        -webkit-animation: rotate 2s linear infinite;
                animation: rotate 2s linear infinite;
        -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
                transform-origin: center center;

        .loader__path {
            stroke-dasharray: 150,200;
            stroke-dashoffset: -10;
            -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
            stroke-linecap: round;
        }
    }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #04558b;
  }
  40% {
    stroke: #04558b;
  }
  66% {
    stroke:#04558b;
  }
  80%, 90% {
    stroke:#04558b;
  }
}
@keyframes color {
  0% {
    stroke: #04558b;
  }
  40% {
    stroke: #04558b;
  }
  66% {
    stroke: #04558b;
  }
  80%, 90% {
    stroke: #04558b;
  }
}
